/* ------Google fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed&display=swap');
/* ----------------Common styles------- */

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    position: relative;
    width: 1440px;
    height: 3750px;
}
main{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(74, 12, 155);
    width: 110%;
    height: 550px;
    display: flex;
}
.container-halfwidth{
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.container-halfwidth img{
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}
/* -------Copa and Uero---- */

h1{
    position: absolute;
    width: 485px;
    height: 200px;
    left: 150px;
    top: 100px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: white;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    position: absolute;
    width: 168px;
    height: 40px;
    left: 140px;
    top: 400px;
    color: white;
    background: #E02C6D;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
}
a:hover{
    color: #6b2ce0;
    background: #cbbfeb;
    box-shadow: 0 0 10px #FBB917, 0 0 30px #E2A76F, 0 0 50px #FBB917;
    transition-delay: 1s;
}
.fa-arrow-right{
    margin-left: 10px;
    margin-top: 5px;
}
/* ------2021 animation-- */
.word-typing{
    position: relative;
}
.word-typing::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(112, 19, 155);
    border-left: 1px solid rgba(88, 30, 105, 0.918);
    animation: typing 1.5s steps(5) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/* ----Player about---- */
.Container-player{
    margin-left: 180px;
}
.player-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 85px;
    margin-left: 180px;
    margin-right: 210px;
}
.player .player-banner img{
    width: 310px;
    height: 256px;
}
.player{
    padding: 15px;
    position: relative;
    align-items: center;
    width: 330px;
    /* height: 474px; */
    margin-bottom: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}
/* -----Login form */
.login-container{
    width: 50%;
    height: 500px;
    font-family: sans-serif;
    background: rgb(104, 23, 158);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}
.box{
    width: 350px;
    height: 450px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.front-side{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(#6b9dc7da, rgb(99, 68, 170)), url(back.jpg);
    padding: 55px;
    box-sizing: border-box;
}
.box h2{
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
#email{
    width: 100%;
    background: rgba(245, 250, 250, 0.87);
    border: 2px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: rgb(255, 255, 255);
}
#password{
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
button{
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    margin: 30px 0 15px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}
/* footer----- */
.footer-side{
    position: static;
    left: 0;
    bottom: 0;
    width: 1440px;
    background-color: white;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}


.footer-banner{
    width: 30%;
    height: 40%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
p{
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -----social-icon--- */
.fab{
    color: rgba(0, 0, 0, 0.26)
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-items{
    list-style: none;
}
.social-items a{
    padding: 5px 14px;
}
/* ----copyright icon--- */
.fa-copyright{
    padding-left: 5px;
    padding-right: 5px;
}



